.skills{
    padding:90px 0;
    background:#f7f7fb;
}

.section-heading{
    text-align:left;
    margin-bottom:50px;
}

.section-heading h2{
    font-size:40px;
    font-weight:700;
    color:#8b8b8b;
}

/* SKILLS GRID */

.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:25px;
}

/* CARD */

.skill-card{
    perspective:1000px;
}

.skill-inner{
    position:relative;
    width:100%;
    height:160px;
    transition:transform .8s;
    transform-style:preserve-3d;
}

.skill-card:hover .skill-inner{
    transform:rotateY(180deg);
}

.skill-front,
.skill-back{
    position:absolute;
    width:100%;
    height:100%;

    border-radius:18px;

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    backface-visibility:hidden;

    box-shadow:0 10px 25px rgba(0,0,0,.12);
}

.skill-front{
    background:white;
}

.skill-back{
    background:linear-gradient(135deg,#242527,#242527);
    color:white;
    transform:rotateY(180deg);
    padding:15px;
    text-align:center;
}

.skill-icon{
    font-size:42px;
    color:#393d48;
    margin-bottom:15px;
}

.skill-front h4{
    font-size:18px;
    margin:0;
}

.skill-back p{
    font-size:14px;
    line-height:22px;
}

.skill-card:hover{
    transform:translateY(-8px);
}

/* ========================= */
/* TABLET */
/* ========================= */

@media (max-width:992px){

    .skills{
        padding:70px 20px;
    }

    .section-heading{
        text-align:center;
        margin-bottom:40px;
    }

    .section-heading h2{
        font-size:34px;
    }

    .skills-grid{
        grid-template-columns:repeat(3,1fr);
        gap:20px;
    }

    .skill-inner{
        height:150px;
    }
}

/* ========================= */
/* MOBILE */
/* ========================= */

@media (max-width:768px){

    .skills{
        padding:60px 15px;
    }

    .section-heading{
        text-align:center;
        margin-bottom:35px;
    }

    .section-heading h2{
        font-size:30px;
    }

    .skills-grid{
        grid-template-columns:repeat(2,1fr);
        gap:15px;
    }

    .skill-inner{
        height:140px;
    }

    .skill-icon{
        font-size:34px;
        margin-bottom:10px;
    }

    .skill-front h4{
        font-size:15px;
    }

    .skill-back p{
        font-size:12px;
        line-height:18px;
    }
}

/* ========================= */
/* SMALL MOBILE */
/* ========================= */

@media (max-width:480px){

    .skills{
        padding:50px 12px;
    }

    .section-heading h2{
        font-size:26px;
    }

    .skills-grid{
        grid-template-columns:1fr;
        gap:15px;
    }

    .skill-inner{
        height:130px;
    }

    .skill-icon{
        font-size:30px;
    }

    .skill-front h4{
        font-size:14px;
    }

    .skill-back p{
        font-size:11px;
        line-height:16px;
    }
}